/* +++++++++++++++++++++++++++++++++++++++++++ */
/*     copyright klaus e. werner 2004-2005     */
/* +++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*                 namespaces                  */
/* +++++++++++++++++++++++++++++++++++++++++++ */

@namespace url("http://collectio.org/collectioML/");
@namespace xlink url("http://www.w3.org/1999/xlink"); 
@namespace class url("http://collectio.org/classifications/");

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*                root element                 */
/* +++++++++++++++++++++++++++++++++++++++++++ */

object {
    display: block;
    line-height: 1.5;
    font-size: 12pt;
    background-color: rgb(194,194,194);
}

object:before {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    padding-left: 11ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin-bottom: 2ex;
    content: element-label() " ID :   " text-field(attribute, xml|id, columns, 28, font-family, monospace, background-color, rgb(240, 238, 213));
    background-color: rgb(240, 238, 213);
    font-weight: bold;
}

object:after {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    padding-left: 11ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
    content: "Data Input Shell for CollectioML - Copyright 2005 HyperRecord Project";
    background-color: rgb(240, 238, 213);
    color: rgb(100,100,100);
    font-weight: bold;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*       first level elements                  */
/*       hollow-diamond begin/end elements               */
/* +++++++++++++++++++++++++++++++++++++++++++ */

page {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(240, 238, 213);
    padding: 2ex; 
    margin-left: 2ex;
    margin-right: 2ex;
    margin-bottom: 4ex;
}

page:before {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(188, 188, 170);
    margin-left: 2ex;
    margin-right: 120ex;
    padding-left: 2ex;
    content: element-label() " " insert-after-button(text, "+", color, rgb(100,100,100));
    font-weight: bold;
    margin-top: 1ex;
}

begin,
end {
    display: block;
    margin-left: 7ex;
    margin-bottom: 2ex;
}

begin:before {
    display: marker;
    content: "Since";
    font-weight: bold;
}

end:before {
    display: marker;
    content: "Until";
    font-weight: bold;
}

begin > date,
end > date {
    display: inline;
    content: text-field(columns, 6, background-color, rgb(250, 250, 250));
    font-weight: bold;
}

begin > date:first-of-type,
end > date:first-of-type {
    display: inline;
    content: text-field(columns, 6, background-color, rgb(250, 250, 250)) "   /   ";
    font-weight: bold;
}

bibliography,
editing {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(235, 231, 167);
    padding: 2ex;
    margin-left: 2ex;
    margin-right: 2ex;
    margin-bottom: 2ex;
}

bibliography:before,
editing:before {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(188, 188, 170);
    margin-left: 2ex;
    margin-right: 120ex;
    padding-left: 2ex;
    content: element-label() " " replace-button(icon, icon(circle), color, rgb(100,100,100));
    font-weight: bold;
    margin-top: 1ex;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*       second level elements                  */
/* +++++++++++++++++++++++++++++++++++++++++++ */

location,
administration,
iconography,
techdata,
event {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(235, 231, 167);
    margin-left: 4ex;
    margin-bottom: 4ex;
    padding: 2ex;
    
}

location:before,
administration:before,
iconography:before,
techdata:before {
    display: block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(188, 188, 170);
    margin-right: 105ex;
    margin-left: 4ex;
    padding-left: 2ex;
    content: element-label() " " insert-after-button(text, "+", color, rgb(100,100,100));
    font-weight: bold;
}

event:before {
    display: inline-block;
    border: 2px groove rgb(200, 200, 200);
    background-color: rgb(188, 188, 170);
    content: element-label() ": " combo-box(attribute, type) " " insert-after-button(text, "+", color, rgb(100,100,100));
    margin-right: 105ex;
    margin-left: 4ex;
    margin-top: 2ex;
    padding-left: 2ex;
    font-weight: bold;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*       third level elements ...              */
/* +++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*       administration elements               */
/* +++++++++++++++++++++++++++++++++++++++++++ */

owner {
    display: block;
    margin-left: 34ex;
    content: combo-box(font-size, smaller);
    background-color: rgb(235, 231, 167);
}

inventary,
responsibility,
patrimony,
insurance {
    display: block;
    margin-left: 34ex;
}

jurisdiction {
    display: block;
    margin-left: 34ex;
    content: combo-box(attribute, type) ;
    background-color: rgb(235, 231, 167);
}

jurisdiction:before,
patrimony:before,
insurance:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
	color: rgb(100,100,100);
}

inventary:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
	color: rgb(100,100,100);
}

inventary name {
    display: block;
    content: combo-box(background-color, rgb(235, 231, 167));
}

owner:before,
responsibility:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
	color: rgb(100,100,100);
}

number {
    display: block;
}

number:after {
    display: inline;
    content: " " insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100));
}

number:before {
    display: inline;
    content: "n. ";
    font-weight: bold;
    font-size: smaller;
	color: rgb(100,100,100);
}

value {
    display: inline;
}

value:after {
    display: marker;
    content: "  " combo-box(attribute, currency, background-color, rgb(235, 231, 167));
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*             location elements               */
/* +++++++++++++++++++++++++++++++++++++++++++ */

class|locationclass {
    display: block;
    margin-left: 17ex;
}

class|locationclass:before {
    display: inline;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label();
    margin-bottom: 1ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

class|locationclass class|* { 
  display: inline;
}

class|locationclass class|*:before { 
  display: marker; 
  content: "   " combo-box(attribute, name, background-color, rgb(235,231,167)) " " insert-button(icon, icon(insert-after), color, rgb(100,100,100));
}

cadastre,
georeference {
    display: block;
}

cadastre:before {
    display: block;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label();
    margin-top: 2ex;
    margin-left: 19ex;
    font-weight: bold;
    color: rgb(100,100,100);
    font-size: smaller;
}

georeference:before {
    display: block;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label();
    margin-top: 2ex;
    margin-left: 19ex;
    font-weight: bold;
    color: rgb(100,100,100);
    font-size: smaller;
}

map,
parcel {
    display: block;
    margin-left: 34ex;
}

map:before,
parcel:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

geo,
utm {
    display: block;
    margin-left: 15ex;
}

geo:before,
utm:before {
    display: marker;
    content: element-label() " :  ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

longitude,
latitude {
    display: block;
    margin-left: 19.5ex;
}

longitude:before,
latitude:before {
    display: marker;
    content: element-label() " " combo-box(attribute, direction, background-color, rgb(235,231,167)) " :  ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

zone,
easting,
northing {
    display: block;
    margin-left: 18ex;
}

zone:before,
easting:before,
northing:before {
    display: marker;
    content: element-label() " :  ";
    font-size: smaller;
    font-weight: bold;
    color: rgb(100,100,100);
}

degree,
minute,
second {
    display: inline;
    margin-left: 4ex;
}

degree:after {
    display: inline;
    content: " °  ";
    font-weight: bold;
    color: rgb(100,100,100);
}

minute:after {
    display: inline;
    content: " '  ";
    font-weight: bold;
    color: rgb(100,100,100);
}

second:after {
    display: inline;
    content: " ''  ";
    font-weight: bold;
    color: rgb(100,100,100);
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*             iconography elements               */
/* +++++++++++++++++++++++++++++++++++++++++++ */


class|objectclass {
    display: block;
    margin-left: 16ex;
}

class|iconclass {
    display: block;
    margin-left: 18ex;
}

class|objectclass:before,
class|iconclass:before {
    display: inline;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label();
    margin-left: 6ex;
    margin-bottom: 1ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

class|objectclass class|*,
class|iconclass class|* { 
  display: inline;
}

class|objectclass class|*:before,
class|iconclass class|*:before { 
  display: marker; 
  content: "   " combo-box(attribute, name, background-color, rgb(235,231,167)) " " insert-button(icon, icon(insert-after), color, rgb(100,100,100));
}

denomination {
    display: block;
    margin-left: 34ex;
}

denomination:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}


/* +++++++++++++++++++++++++++++++++++++++++++ */
/*             techdata elements               */
/* +++++++++++++++++++++++++++++++++++++++++++ */

class|techniqueclass {
    display: block;
    margin-left: 15ex;
}

class|materialclass {
    display: block;
    margin-left: 17ex;
}

class|techniqueclass:before,
class|materialclass:before {
    display: inline;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label();
    margin-left: 6ex;
    margin-bottom: 1ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);

}

class|techniqueclass class|*,
class|materialclass class|* { 
  display: inline;
}

class|techniqueclass class|*:before,
class|materialclass class|*:before { 
  display: marker; 
  content: "   " combo-box(attribute, name, background-color, rgb(235,231,167)) " " insert-button(icon, icon(insert-after), color, rgb(100,100,100));
}

part {
    display: block;
}

part:before {
    display: block;
    content:  " " insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " " counter(n, upper-alpha) "  " text-field(attribute, name, columns, 12, font-weight, normal, color, rgb(0,0,0), background-color, rgb(235,231,167));
    margin-left: 17ex;
    margin-top: 1ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

part > * {
    display: block;
    margin-left: 34ex;
}

part > *:before {
    display: marker;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

part > height:after,
part > depth:after,
part > weight:after,
part > length:after,
part > width:after,
part > diameter:after {
    display: inline;
    content: "   " attr(unit) " " set-attribute-button(attribute, unit);
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

observation {
    display: block;
}

observation:before {
    display: block;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " " combo-box(attribute, type, background-color, rgb(235,231,167));
    background-color: rgb(235,231,167);
    margin-left: 2ex;
    margin-top: 2ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*               event elements                */
/* +++++++++++++++++++++++++++++++++++++++++++ */

class|authorclass {
    display: block;
    margin-left: 2ex;
}

class|authorclass:before {
    display: inline;
    content: insert-after-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " " combo-box(attribute, type, background-color, rgb(235,231,167));
    margin-bottom: 1ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

class|authorclass class|* { 
  display: inline;
}

class|authorclass class|*:before { 
  display: marker; 
  content: "   " combo-box(attribute, name, background-color, rgb(235,231,167)) " " insert-button(icon, icon(insert-after), color, rgb(100,100,100));
}


/* +++++++++++++++++++++++++++++++++++++++++++ */
/*          bibliography elements              */
/* +++++++++++++++++++++++++++++++++++++++++++ */

entry {
    display: block;
    margin-left: 34ex;
    margin-bottom: 1ex;
    padding-left: 2;
    padding-right: 2;
}

entry:before {
    display: marker;
    content: combo-box(attribute, type, background-color, rgb(235, 231, 167)) " " insert-after-button(text, "+") " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*          editorship elements              */
/* +++++++++++++++++++++++++++++++++++++++++++ */

editorship {
    display: block;
}

editorship:before {
    display: block;
    content: element-label() " " insert-after-button(text, "+");
    margin-left: 20ex;
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}


editorship > date {
    display: block;
    margin-left: 34ex;
    margin-bottom: 1ex;
    padding-left: 2;
    padding-right: 2;
}

editorship > date:before {
    display: marker;
    content: element-label() " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

editorship > name {
    display: block;
    margin-left: 34ex;
    margin-bottom: 1ex;
    padding-left: 2;
    padding-right: 2;
}

editorship > name:before {
    display: marker;
    content: element-label() " of " combo-box(attribute, type, background-color, rgb(235, 231, 167)) " " insert-after-button(text, "+") " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}


/* +++++++++++++++++++++++++++++++++++++++++++ */
/*             shared elements                 */
/* +++++++++++++++++++++++++++++++++++++++++++ */


notes,
description {
    display: block;
    margin-left: 34ex;
}

notes:before,
description:before {
    display: marker;
    content: insert-before-button(text, "+", color, rgb(100,100,100)) " " delete-button(text, "-", color, rgb(100,100,100)) " " element-label() " : ";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}

notes:after,
description:after {
    display: inline;
    content: "n.b. Click on line end for more text paragraphs or inscription lines, insert links using CTRL-I";
    font-weight: bold;
    font-size: smaller;
    color: rgb(100,100,100);
}
inscription {
    display: block;
    border: 2 groove rgb(200,200,200);
    background-color: rgb(235,231,167);
    margin-left: 3ex;
    margin-right: 18ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

para,
line {
    display: block;
    content: paragraph();
}

para:after,
line:after {
    display: inline;
    padding: 2;
    content: " " insert-after-button(icon, icon(line-break));
    color: rgb(100,100,100);
}

line {
    font-family: monospace;
}

line:before {
    display: inline;
    content: " " counter(n, decimal) " : ";
    font-size: smaller;
    color: rgb(100,100,100);
}

link {
    display: inline;
    text-decoration: underline;
}

link:after {
    display: inline;
    content: " " text-field(attribute, xlink|href, columns, 16) " Type: " combo-box(attribute, rel, font-size, smaller, background-color, rgb(235, 231, 167));
}
