@media screen
{

            h1,h2,h3,p,li,td
            {
            font-family: Bitstream Vera Sans, Lucida Sans, Luxi Sans, SUSE Sans, Verdana, Helvetica, sans;
            }

            p,li,td
            {
            color: rgb(55,60,70);
            }

            h1,h2,h3
            {
            color: rgb(54,75,102);
            }

            body
            {
            background-image: URL(bkg1.png);
            background-position: top left;
            background-repeat: repeat;
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 50px;
            }

            .body
            {
            margin-left: 130px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 1px solid rgb(160,160,160);
            background-Image: URL(bkg3.png);
            background-position: top left;
            background-Repeat: repeat;
            }

            .division
            {
            margin-bottom: 20px;
            margin-left: 130px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 1px solid rgb(160,160,160);
            background-Image: URL(bkg3.png);
            background-position: top left;
            background-Repeat: repeat;
            }

            .menu
            {
            position: fixed;
            top: 160px;
            bottom: 10px;
            left: 20px;
            width: 120px;
            padding-top: 20px;
            padding-right: 15px;
            }

            .meta
            {
            position: relative;
            margin-top: 30px;
            bottom: 10px;
            left: 130px;
            width: 80%;
            }

}

@media print
{

            h1,h2,h3,p,li,td
            {
            font-family: Gentium, Bitstream Vera Serif, Lucida Serif, SUSE Serif, Georgia, Palatino Linotype, serif;
            }

            .body
            {
            margin-left: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 1px solid rgb(160,160,160);
            }

            .division
            {
            margin-bottom: 20px;
            margin-left: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 1px solid rgb(160,160,160);
            }

            .meta, .menu
            {
            display: none;
            visibility: hidden;
            }

}

@media screen,print
{

            body
            {
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 50px;
            }

            h1,h2,h3
            {
            line-height: 140%;
            font-Weight: bold;
            }

            h1
            {
            font-size: 12pt;
            margin-top: 70px;
            margin-bottom: 60px;
            margin-left: 150px;
            }

            h2
            {
            font-size: 11pt;
            margin-top: 20px;
            margin-bottom: 20px;
            }

            h3
            {
            font-size: 10pt;
            border-bottom: 1px solid rgb(160,160,160);
            }

            p,li,td
            {
            line-height: 160%;
            font-size: 9pt;
            margin-top: 0;
            margin-left: 20px;
            margin-bottom: 5px;
            text-align: left;
            }

            .menu p, p.meta
            {
            text-transform: uppercase;
            font-weight: bold;
			font-size: 8pt;
            }

            acronym
            {
            font-variant: small-caps;
            font-style: normal;
            }

            table
            {
            margin-left: 20px;
            margin-bottom: 10px;
            }

            a:link,a:visited,a:active,a:hover
            {
            border-bottom: 1px solid rgb(75,80,90);
            color: rgb(55,60,70);
            text-decoration: none;
            }

            .menu :link,.menu :visited,.menu :active,.menu :hover
            {
            border-bottom: none;
            }

            .urnlink:active,.urnlink:hover
            {
            color: rgb(55,60,70);
            background-color: rgb(200,200,200);
            }

            .urnlink
            {
            padding-left: 2px;
            padding-right: 2px;
            background-color: rgb(75,80,90);
            color: rgb(200,200,200);
            }


}
